<div class="container text-center">
<h3 class="display-6" style="font-family: Blippo, fantasy;">Article</h3>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h3 class="display-6" style="font-family: Blippo, fantasy;">Comments</h3>
<%= render @article.comments%>

<h3 class="display-5" style="font-family: Blippo, fantasy;">Add a comment here:</h3>
<%= render 'comments/form'%>

<%= link_to 'Edit', edit_article_path(@article) %>
<br>
<%= link_to 'Back', articles_path %>
</div>