<!DOCTYPE html>
<html>
  <head>
	  <title>HU</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/home/shashankitraj/HU/app/assets/stylesheets/mycustom.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  
  </head>

  <body style="background-image: url('https://wallpaperplay.com/walls/full/b/3/7/329976.jpg'); background-repeat: no-repeat;">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd; opacity: 0.65;" >
        <div class="text-center" >
          <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/back-arrow-36-921413.png" height="20" width="20">
          <%= link_to 'Back to home', controller: 'home', style: 'font-size:30px' %>
        </div>
      </nav>

      <div class="container col-9" style="background-color: #c4dbff; margin-top: 50px; opacity: 0.8;">
         <%= yield %>
      </div>


  </body>
</html>
